<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <link rel="shortcut icon" type="imagex/png" href="/public/img/ifmssus2.png" />
    <title>IFFG - Menu</title>
    <link rel="stylesheet" href="/public/css/menu.css" />

    <!--<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet" />-->

    <link rel="stylesheet" href="/bscss/bootstrap.min.css">
  </head>
  <body>
    <!--<div class="d-flex justify-content-center">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="titulo"><span>IF</span><span>FG</span></h1>
      </div>
      <div>
        <button id="botao1" type="button" class="btn btn-success btn-lg">
          Large button
        </button>
      </div>
      <div>
        <button id="botao2" type="button" class="btn btn-success btn-lg">
          Large button
        </button>
      </div>
    </div>-->
    <section>
      <div class="rapaz">
        <h1 class="titulo">
          <span class="ai">IF</span><span class="pq">FG</span>
        </h1>
      </div>
      <div>
        <div class="botao1">
          <button class="btn btn-success text-warning p-3">JOGAR</button>
        </div>
        <div class="botao2">
          <a class="btn btn-success text-warning p-3" href="./volume.html">
            CONFIG
          </a>
        </div>
        <div class="botao3">
          <a class="btn btn-success text-warning p-3" href="./index.html">VOLTAR</a>
        </div>
      </div>
    </section>
  </body>
</html>
