<html lang="pt-br" class="fundo-escuro">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="imagex/png"
      href="/public/img/ifmssus2.png"
    />
    <title>IFFG - Página Principal</title>

    <link rel="stylesheet" href="/public/css/wilker.css" />
    <link rel="stylesheet" href="/bscss/bootstrap.min.css" />
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.2/examples/album/"
    />
    <link rel="stylesheet" href="/bsicon/bootstrap-icons.css" />

  </head>

  <body class="fundo-escuro">

    <!--<header class="bg-dark">

    <div class="d-flex flex-column flex-shrink-0 bg-dark" id="navbar">
      <a href="/" class="d-block p-3 link-light text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right">
        <img class="img-fluid" height="100px" src="/public/img/iffg.png">
          
        </img>
        <span class="visually-hidden">Icon-only</span>
      </a>
      <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li>
          <a href="/" class="nav-link py-3 border-bottom border-top rounded-0" data-bs-toggle="tooltip" data-bs-placement="right">
            <i class="bi bi-house-fill icon-azul"></i>
          </a>
        </li>
        <li>
          <a href="/iffg" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right">
            <i class="bi bi-controller icon-vermelho"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/WilkerSebastian/IFFG" class="nav-link py-3 border-bottom rounded-0" data-bs-toggle="tooltip" data-bs-placement="right">
              <i class="bi bi-github icon-roxo"></i>
          </a>
        </li>
      </ul>
    </div>

  </header>
  -->
    <main class="conteiner-fluid" id="principal">

      <div class="mx-1">

        {{{body}}}

      </div>

    </main>
    <footer>

    </footer>
    <script src="/public/js/index.js"></script>
    <script src="/popperjs/popper.min.js"></script>
    <script src="/bsjs/bootstrap.min.js"></script>

  </body>

</html>