<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <link
      rel="shortcut icon"
      type="imagex/png"
      href="/public/img/ifmssus2.png"
    />
    <title>IFFG - Menu</title>
    <link rel="stylesheet" href="/public/css/grade.css" />
    <link rel="stylesheet" href="/public/css/menu.css" />

    <!--<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet" />-->

    <link rel="stylesheet" href="/bscss/bootstrap.min.css" />
  </head>
  <body>
    <div class="personagem">
      <img src="/public/img/interrogacao.png" id="conteudoItself" />
    </div>

    <div class="grade">
      <div class="box" id="boxlindos">
        <img
          type="button"
          onclick="changeImage()"
          class="uaumano"
          id="imgClickAndChange"
          src="/public/img/flipferrazmini-removebg-preview.png"
        />
      </div>
      <div class="box" id="boxlindos">
        <img
          type="button"
          onclick="changeImage()"
          class="uaumano"
          id="imgClickAndChange"
          src="/public/img/lincolnzeramini-removebg-preview.png"
        />
      </div>
      <div class="box" id="boxlindos">
        <img
          type="button"
          onclick="changeImage()"
          class="uaumano"
          id="imgClickAndChange"
          src="/public/img/heltonzinho-removebg-preview.png"
        />
      </div>
      <div class="box">
        <img class="uaumano" src="/public/img/interrogacao.png" />
      </div>
      <div class="box">
        <img class="uaumano" src="/public/img/interrogacao.png" />
      </div>
      <div class="box">
        <img class="uaumano" src="/public/img/interrogacao.png" />
      </div>
      <div class="box">
        <img class="uaumano" src="/public/img/interrogacao.png" />
      </div>
      <div class="box">
        <img class="uaumano" src="/public/img/interrogacao.png" />
      </div>
      <div class="box">
        <img class="uaumano" src="/public/img/interrogacao.png" />
      </div>
      <div class="box">
        <img class="uaumano" src="/public/img/interrogacao.png" />
      </div>
      <div class="box">
        <img class="uaumano" src="/public/img/interrogacao.png" />
      </div>
      <div class="box">
        <img class="uaumano" src="/public/img/interrogacao.png" />
      </div>
    </div>
  </body>
</html>
