<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <link
      rel="shortcut icon"
      type="imagex/png"
      href="/public/img/ifmssus2.png"
    />
    <title>IFFG - Menu - Volume</title>
    <link rel="stylesheet" href="/public/css/menu.css" />

    <!--<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet" />-->

    <link rel="stylesheet" href="/bscss/bootstrap.min.css" />
  </head>
  <body>
    <section id="barbanegra">
      <div class="volume">
        <label for="customRange1" class="form-label"
          ><span class="ai">Vol</span><span class="pq">ume:</span></label
        >
        <input type="range" class="form-range" id="customRange1" />
      </div>
      <div class="botao3">
        <a class="btn btn-success text-warning p-3" href="./jogo.html"
          >VOLTAR</a
        >
      </div>
    </section>
  </body>
</html>
