.grade {
  margin-top: 50px;
  margin-left: 500px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 120px 120px;
  grid-template-rows: 120px 120px 120px 120px 120px 120px;
  justify-content: center;
}

.box {
  background-color: transparent;
  border: 3px solid #32a041;
}

.uaumano {
  height: 113.5px;
}

#boxlindos {
  transition: transform 0.2s;
}

#boxlindos:hover {
  transform: scale(1.1);
}
