* {
  box-sizing: border-box;
}

.grade {
  width: 75%;
  float: left;
  padding: 15px;
  /*position: fixed;
  bottom: 0;*/
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 120px 120px;
}

.gradecen {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 120px 120px;
}

.box,
.boxcen {
  background-color: transparent;
  border: 3px solid #32a041;
}

.box:hover {
  border: 3px solid blue;
}

.boxcen:hover {
  border: 3px solid blueviolet;
}

#limit {
}

.uaumano {
  height: 113.5px;
}

#boxlindos {
  transition: transform 0.2s;
}

#boxlindos:hover {
  transform: scale(1.1);
}

.vs {
  font-size: 15rem;
  font-family: street;
  margin-bottom: 150px;
}

.personagem {
  margin-bottom: 150px;
}

.personagem2 {
  margin-bottom: 150px;
}

.v {
  color: #32a041;
}
.s {
  color: #c8191e;
}
